In [135]:
import pandas as pd
import os
import numpy as np
from sqlalchemy import create_engine

In [136]:
# file path and read file

file = "Export.csv"
file2 ="Sharepoint.csv"

export = pd.read_csv(file, encoding='utf8')
sharepoint=pd.read_csv(file2, encoding='utf8')


#drop columns
export=export.drop(['Name', 'Empl_ID', 'Desc'], axis = 1)
sharepoint=sharepoint.drop(['Desc'], axis=1)
#create variable frames and concatenate the two lists
frames = [export, sharepoint]
ChargeCodeList = pd.concat(frames)

ChargeCodeList = ChargeCodeList.drop_duplicates()
ContField = ChargeCodeList[((ChargeCodeList['Charge Code'] == '612109.00.BP8.3202BP80300S.AQ'))].index
ChargeCodeList=ChargeCodeList.drop(ContField)

# os.listdir()

In [137]:
ChargeCodeList.head(10)

                      Charge Code   PLC
0   612109.00.AIM.M552BP80103S.AQ  MQIP
1   612109.00.AIM.M552BP80103S.AQ  MQQP
3   612109.00.AIM.M552BP80103S.AQ  MMAP
4   612109.00.AIM.M552BP80103S.AQ  MV9P
6   612109.00.AIM.M552BP80103S.AQ  MW9P
8   612109.00.AIM.M552BP80103S.AQ  MVDP
14  612109.00.AIM.M552BP80103S.AQ  MS9P
16  612109.00.AIM.M552BP80103S.AQ  MPKP
38  612109.00.AIM.M552BP80103S.AQ  MQOP
39  612109.00.AIM.M552BP80103S.AQ  M9JP

In [138]:
#Pull in file of employees being hired this week
file3="CurrentWeek.csv"
CurrentWeek=pd.read_csv(file3)
#drop columns
CurrentWeek=CurrentWeek.drop(CurrentWeek.columns[[10,11,12,13,14,15,17,18,19,20]], axis = 1)

CurrentWeek

,Employee\n ID,USAP ID,Last Name,First Name,Middle Name,Job Title,Billet,Station/Season,DOH,Scheduled ON-ICE Date,Hiring Manager
0,1,1,Employee1Last,Employee1first,NaN,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1
1,2,2,Employee2last,Employee2first,NaN,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2
2,3,3,Employee3last,Employee3first,NaN,"MECHANIC, WATER PLANT",LD02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager3
3,4,4,Employee4last,Employee4first,NaN,CARPENTER,CC14,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2
4,5,5,Employee5last,Employee5first,NaN,EQUIPMENT OPERATOR,OD08,2020 Winter McMurdo,19-Mar-20,Already on ice,Manager4
5,6,6,Employee6last,Employee6first,NaN,FUELS OPERATOR,HQ18,2019-2020 Summer McMurdo,9-Mar-20,Already on ice,Manager5
6,7,7,Employee7last,Employee7first,NaN,FIREFIGHTER,HV32,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6
7,8,8,Employee8last,Employee8first,NaN,FIREFIGHTER,HV41,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6
8,9,9,Employee9last,Employee9first,NaN,FIREFIGHTER,HV31,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6
9,10,10,Employee10last,Employee10first,NaN,INSULATOR,IB03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manger2
10,11,11,Employee11last,Employee11first,NaN,INSULATOR FOREMAN,IG03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manger2
11,12,12,Employee12last,Employee12first,NaN,"OPERATOR, HEAVY EQUIPMENT",OD19,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager4
12,13,13,Employee13last,Employee13first,NaN,PIPEFITTER,PK03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager1
13,14,14,Employee14last,Employee14first,NaN,PREVENTIVE MAINT COORDINATOR,HA01,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2
14,15,15,Employee15last,Employee15first,NaN,SHEETMETAL WORKER,SO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2

In [139]:
#Create Station Dictionary
StationDict ={'Station' : ['McMurdo', 'MCM','South Pole', 'Pole', 'SP' ,'Palmer', 'Pal', 'Denver', 'Vessel', 'Port Hueneme'],
              'PLC Start' : ['M', 'M', 'S', 'S', 'S','P', 'P' ,'D', 'V', 'H']
             }

StationDict=pd.DataFrame(StationDict)

StationDict

        Station PLC Start
0       McMurdo         M
1           MCM         M
2    South Pole         S
3          Pole         S
4            SP         S
5        Palmer         P
6           Pal         P
7        Denver         D
8        Vessel         V
9  Port Hueneme         H

In [140]:
#get a list of skill codes
SkillCode = CurrentWeek['Billet'].str[:2]
CurrentWeek['SkillCode'] = np.array(SkillCode)



#Create list to match against look for item in the string and return that time into a new column called "station"

StationList= StationDict['Station']



def matcher(x):
    for i in StationList:
        if i.lower() in x.lower():
            return i
    else:
        return np.nan

CurrentWeek['Station'] = CurrentWeek['Station/Season'].apply(matcher)


CurrentWeek=CurrentWeek.merge(StationDict, on='Station', how='left')
CurrentWeek['PLC']=CurrentWeek['PLC Start']+CurrentWeek['SkillCode']+'P'
CurrentWeek

,Employee\n ID,USAP ID,Last Name,First Name,Middle Name,Job Title,Billet,Station/Season,DOH,Scheduled ON-ICE Date,Hiring Manager,SkillCode,Station,PLC Start,PLC
0,1,1,Employee1Last,Employee1first,NaN,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1,PK,South Pole,S,SPKP
1,2,2,Employee2last,Employee2first,NaN,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,EO,McMurdo,M,MEOP
2,3,3,Employee3last,Employee3first,NaN,"MECHANIC, WATER PLANT",LD02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager3,LD,McMurdo,M,MLDP
3,4,4,Employee4last,Employee4first,NaN,CARPENTER,CC14,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,CC,McMurdo,M,MCCP
4,5,5,Employee5last,Employee5first,NaN,EQUIPMENT OPERATOR,OD08,2020 Winter McMurdo,19-Mar-20,Already on ice,Manager4,OD,McMurdo,M,MODP
5,6,6,Employee6last,Employee6first,NaN,FUELS OPERATOR,HQ18,2019-2020 Summer McMurdo,9-Mar-20,Already on ice,Manager5,HQ,McMurdo,M,MHQP
6,7,7,Employee7last,Employee7first,NaN,FIREFIGHTER,HV32,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6,HV,McMurdo,M,MHVP
7,8,8,Employee8last,Employee8first,NaN,FIREFIGHTER,HV41,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6,HV,McMurdo,M,MHVP
8,9,9,Employee9last,Employee9first,NaN,FIREFIGHTER,HV31,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6,HV,McMurdo,M,MHVP
9,10,10,Employee10last,Employee10first,NaN,INSULATOR,IB03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manger2,IB,McMurdo,M,MIBP
10,11,11,Employee11last,Employee11first,NaN,INSULATOR FOREMAN,IG03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manger2,IG,McMurdo,M,MIGP
11,12,12,Employee12last,Employee12first,NaN,"OPERATOR, HEAVY EQUIPMENT",OD19,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager4,OD,McMurdo,M,MODP
12,13,13,Employee13last,Employee13first,NaN,PIPEFITTER,PK03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager1,PK,McMurdo,M,MPKP
13,14,14,Employee14last,Employee14first,NaN,PREVENTIVE MAINT COORDINATOR,HA01,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,HA,McMurdo,M,MHAP
14,15,15,Employee15last,Employee15first,NaN,SHEETMETAL WORKER,SO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,SO,McMurdo,M,MSOP

In [141]:
CurrentWeek=CurrentWeek.drop(['SkillCode', 'PLC Start'], axis = 1)
CurrentWeek

,Employee\n ID,USAP ID,Last Name,First Name,Middle Name,Job Title,Billet,Station/Season,DOH,Scheduled ON-ICE Date,Hiring Manager,Station,PLC
0,1,1,Employee1Last,Employee1first,NaN,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1,South Pole,SPKP
1,2,2,Employee2last,Employee2first,NaN,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MEOP
2,3,3,Employee3last,Employee3first,NaN,"MECHANIC, WATER PLANT",LD02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager3,McMurdo,MLDP
3,4,4,Employee4last,Employee4first,NaN,CARPENTER,CC14,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MCCP
4,5,5,Employee5last,Employee5first,NaN,EQUIPMENT OPERATOR,OD08,2020 Winter McMurdo,19-Mar-20,Already on ice,Manager4,McMurdo,MODP
5,6,6,Employee6last,Employee6first,NaN,FUELS OPERATOR,HQ18,2019-2020 Summer McMurdo,9-Mar-20,Already on ice,Manager5,McMurdo,MHQP
6,7,7,Employee7last,Employee7first,NaN,FIREFIGHTER,HV32,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6,McMurdo,MHVP
7,8,8,Employee8last,Employee8first,NaN,FIREFIGHTER,HV41,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6,McMurdo,MHVP
8,9,9,Employee9last,Employee9first,NaN,FIREFIGHTER,HV31,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager6,McMurdo,MHVP
9,10,10,Employee10last,Employee10first,NaN,INSULATOR,IB03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manger2,McMurdo,MIBP
10,11,11,Employee11last,Employee11first,NaN,INSULATOR FOREMAN,IG03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manger2,McMurdo,MIGP
11,12,12,Employee12last,Employee12first,NaN,"OPERATOR, HEAVY EQUIPMENT",OD19,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager4,McMurdo,MODP
12,13,13,Employee13last,Employee13first,NaN,PIPEFITTER,PK03,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager1,McMurdo,MPKP
13,14,14,Employee14last,Employee14first,NaN,PREVENTIVE MAINT COORDINATOR,HA01,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MHAP
14,15,15,Employee15last,Employee15first,NaN,SHEETMETAL WORKER,SO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MSOP

In [142]:
#merge them
MergeTable = pd.merge(CurrentWeek, ChargeCodeList, left_on='PLC', right_on='PLC', how='inner')
MergeTable.head(10)

,Employee\n ID,USAP ID,Last Name,First Name,Middle Name,Job Title,Billet,Station/Season,DOH,Scheduled ON-ICE Date,Hiring Manager,Station,PLC,Charge Code
0,1,1,Employee1Last,Employee1first,NaN,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1,South Pole,SPKP,612109.00.BP8.7201BP80200S.AQ
1,1,1,Employee1Last,Employee1first,NaN,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1,South Pole,SPKP,612109.00.BP8.8306BP80100S.AQ
2,1,1,Employee1Last,Employee1first,NaN,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1,South Pole,SPKP,612109.00.BP8.3402BP80500S.AQ
3,1,1,Employee1Last,Employee1first,NaN,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1,South Pole,SPKP,612109.00.BP8.3402BP80600S.AQ
4,1,1,Employee1Last,Employee1first,NaN,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1,South Pole,SPKP,612109.00.BP8.3402BP80700S.AQ
5,2,2,Employee2last,Employee2first,NaN,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MEOP,612109.00.INF.M534BP80100S.AQ
6,2,2,Employee2last,Employee2first,NaN,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MEOP,612109.00.ITC.M536BP80302S.AQ
7,2,2,Employee2last,Employee2first,NaN,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MEOP,612109.00.BP8.7201BP80100S.AQ
8,2,2,Employee2last,Employee2first,NaN,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MEOP,612109.00.BP8.7301BP80100S.AQ
9,2,2,Employee2last,Employee2first,NaN,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MEOP,612109.00.BP8.7401BP81000S.AQ

In [143]:
ExportTable=MergeTable.drop(MergeTable.columns[[1,2,3,4,5,6,7,9,10,11]], axis=1)
ExportTable.columns = ['Empl','DOH','PLC','ChargeCD']
ExportTable['Action'] = 'A'
ExportTable['PREM_FL'] = 'N'
ExportTable = ExportTable[['ChargeCD','PLC','Empl','Action','PREM_FL','DOH']]
ExportTable=ExportTable.set_index(['ChargeCD'])
ExportTable.head()

                                PLC  Empl Action PREM_FL        DOH
ChargeCD
612109.00.BP8.7201BP80200S.AQ  SPKP     1      A       N  17-Mar-20
612109.00.BP8.8306BP80100S.AQ  SPKP     1      A       N  17-Mar-20
612109.00.BP8.3402BP80500S.AQ  SPKP     1      A       N  17-Mar-20
612109.00.BP8.3402BP80600S.AQ  SPKP     1      A       N  17-Mar-20
612109.00.BP8.3402BP80700S.AQ  SPKP     1      A       N  17-Mar-20

In [ ]:
# ExportTable.to_csv(r'ThisWeeksChargeCodes.csv')

In [144]:
#Connect to database

postgres_str = ('postgresql://postgres:password@localhost:5432/ETLHW')
engine = create_engine(postgres_str)

In [145]:
engine.table_names()

['chargecodes', 'employees']

In [146]:
ChargeCodeList.to_sql(name='chargecodes', con=engine, if_exists='append', index=False)

In [147]:
pd.read_sql_query('select * from chargecodes', con=engine).head()

                     Charge Code   PLC
0  612109.00.AIM.M552BP80103S.AQ  MQIP
1  612109.00.AIM.M552BP80103S.AQ  MQQP
2  612109.00.AIM.M552BP80103S.AQ  MMAP
3  612109.00.AIM.M552BP80103S.AQ  MV9P
4  612109.00.AIM.M552BP80103S.AQ  MW9P

In [148]:
CurrentWeek.to_sql(name='employees', con=engine, if_exists='append', index=False)

In [149]:
pd.read_sql_query('select * from employees', con=engine).head()

,Employee\n ID,USAP ID,Last Name,First Name,Middle Name,Job Title,Billet,Station/Season,DOH,Scheduled ON-ICE Date,Hiring Manager,Station,PLC
0,1,1,Employee1Last,Employee1first,None,PIPEFITTER,PK03,2020 Winter South Pole,17-Mar-20,18-Mar-20,Manager1,South Pole,SPKP
1,2,2,Employee2last,Employee2first,None,LINEMAN FOREMAN,EO02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MEOP
2,3,3,Employee3last,Employee3first,None,"MECHANIC, WATER PLANT",LD02,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager3,McMurdo,MLDP
3,4,4,Employee4last,Employee4first,None,CARPENTER,CC14,2020 Winter McMurdo,17-Mar-20,18-Mar-20,Manager2,McMurdo,MCCP
4,5,5,Employee5last,Employee5first,None,EQUIPMENT OPERATOR,OD08,2020 Winter McMurdo,19-Mar-20,Already on ice,Manager4,McMurdo,MODP